<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>SystemWhite</string>
	</dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>このアプリは位置情報を使用して、地図上に現在地を表示します。</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>このアプリはバックグラウンドでも位置情報を使用します。</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict/>
    </dict>
</dict>
</plist>
